<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Indice</title>
</head>
<body>
    <h1> Mi primera web con Nodejs  </h1>
    <p> Funciona igual que HTML pero este es extendido al añadir scripts como JSP de java, en vez de java es de javascript ej:</p>
    <%=new Date%>

</body>
</html>